.nav__trigger
	a(href="#mmenu").nav__trigger-link
		img(src="./img/hamburger.svg").nav__trigger-pic

div(id="mmenu").mmenu

	ul.mmenu__list
		li.mmenu__item.mmenu__item--top
			a(href="#").mmenu__link
				| Город: Челябинск
			ul.mmenu__sub-link
				li.mmenu__sub-item
					a(href="#").mmenu__sub-link
						| Екатеринбург
		li.mmenu__item.mmenu__item--top
			a(href="#").mmenu__link
				| Каталог
			ul.mmenu__sub-list
				li.mmenu__sub-item.mmenu__item--top
					a(href="#").mmenu__sub-link
						| Товары на складе
					ul.mmenu__inner-list
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Товары на складе
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Товары на складе
						

				li.mmenu__sub-item.mmenu__item--top
					a(href="#").mmenu__sub-link
						| Предзаказ (Россия)
					ul.mmenu__inner-list
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Предзаказ (Россия)
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Предзаказ (Россия)
						
				li.mmenu__sub-item.mmenu__item--top
					a(href="#").mmenu__sub-link
						| Акции
					ul.mmenu__inner-list
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Акции
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Акции
						
				li.mmenu__sub-item.mmenu__item--top
					a(href="#").mmenu__sub-link
						| Товары в пути
					ul.mmenu__inner-list
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Товары в пути
						li.mmenu__inner-item.mmenu__item--top
							a(href="#").mmenu__inner-link
								| Товары в пути
						
		li.mmenu__item.mmenu__item--top
			a(href="#").mmenu__link.mmenu__link--registration
				| Регистрация
		li.mmenu__item.mmenu__item--top
			a(href="#").mmenu__link.mmenu__link--input
				| Вход
		li.mmenu__item.mmenu__item--top
			a(href="#").mmenu__link.mmenu__link--basket
				| Корзина
		li.mmenu__item.mmenu__item--top
			a(href="#").mmenu__link.mmenu__link--pending
				| Отложенный товар
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--shipping
				| Способы доставки
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--payment
				| Способы оплаты
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--contracts
				| Заключение договора
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--discounts
				| Скидки и акции
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--contacts
				| Способы доставки
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--jobs
				| Контакты
		li.mmenu__item.mmenu__item--bottom
			a(href="#").mmenu__link.mmenu__link--support
				| Вакансии
		li.mmenu__item.mmenu__item--bottom
			a(href="tel:+78003335537").mmenu__link
				.user__phone-text
					| Единый бесплатный телефон
				.user__phone-number
					| 8 800 333 55 37
			